<ul class="menu">
    {% for link in links_menu %}
        <li>
            <a href="{% url link.href %}" 
               class="{% if request.resolver_match.url_name in link.href %}
                        active
                      {% endif %}">
                {{ link.name|title }} {% if link.name == 'корзина'%} {% if basket %} 
                {{ basket.0.total_cost|floatformat:0 }} руб 
                ({{ basket.0.total_quantity }} шт)
              {% endif %}
              {% endif %}
            </a>
        </li>
    {% endfor %}
    {% if user.is_authenticated %}
<li>
    <a href="{% url 'auth:edit' %}">
        {{ user.first_name|default:'Пользователь' }}          
    </a>
</li>
{% endif %}
{% if user.is_superuser %}
    <li>
      <a href="{% url 'admin:users' %}">админка</a>
    </li>
  {% endif %}
<li>
    {% if user.is_authenticated %}
      <a href="{% url 'auth:logout' %}">выйти</a>
    {% else %}
      <a href="{% url 'auth:login' %}">войти</a>
    {% endif %}
</li>
</ul>

